body{
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #d66801;
}

.slewedBox {
	background: whitesmoke;
	padding: 10px 0;
    transform: skew(0deg, -10deg) translateY(-190px);
}

.topContainer {
	padding: 150px 0px 0px 0px;
	transform: skew(0deg, 10deg);
	font-family: arial;
}

.topContainer h1 {
    color: rgb(58, 59, 59);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px; 
    padding-left: 10px;
    font-size: 60px;
}

.topContainer h2 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: 50x;
    text-transform: uppercase;
    overflow-wrap: break-word;
}

.topContainer p {
    color: rgb(87, 85, 85);
    font-family: Helvetica, Arial, sans-serif;
    overflow-wrap: break-word; 
}

.button {
    padding: 0px 0px 0px 0px;
	transform: skew(0deg, 0deg);
    font-family: arial;
    text-align: center;
    border: 5px;
    border-color: black;
}

.button h2 {
    border-bottom: 1px solid #646363;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: 50x;
    text-transform: uppercase;
}

.button:hover {
    transform: scale(1.5);
}

.sec2 {
	padding: 50px;
	color: #fff;
	font-family: arial;
	text-align: left;
}

.sec2 h1 {
    color: rgb(58, 59, 59);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 20px;
    font-size: 60px;
}

.sec2 h2 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec2 h3 {
    color: rgb(87, 85, 85);
    font-family: Helvetica, Arial, sans-serif;
}

.sec2 h4 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

.sec2 h5 {
    color: rgb(66, 65, 65);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.sec2 p {
    color: rgb(87, 85, 85);
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 15px;
}

.row {
    padding-bottom: 15px;
    padding-top: 5px;
} 

#cvSection {
    padding-top: 10px;
    background-color: whitesmoke;
    margin-bottom: 30px;
} 


#contactSection {
    padding-top: 10px;
    margin-bottom: 0px;
}

#contactSection .row {
    padding-bottom: 0px;
}

.contactIcons a{
    color: #d66801;
    text-decoration-color: #d66801;
    height: 15px;
}

.img-thumbnail {
    border: 10px 10px 10px 10px;
    border-color: black;
    background-color: black;
}

hr.hoLine {
    border-top: 1px solid #646363;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px 0px 0px 0px;
}

#mailLink {
    color: #d66801;
    text-decoration-color: #d66801;
}

#languageSection h4 {
    overflow-wrap: break-word;
}