h1 {
    color: rgb(87, 85, 85);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: rgb(87, 85, 85);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: white;
}

.container {
    background-color: rgb(202, 202, 202);
}