body{
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #ff9c07;
}

.slewedBox {
	background: white;
	padding: 10px 0;
    transform: skew(0deg, -10deg) translateY(-190px);
}

.topContainer {
	padding: 150px 0px 0px 0px;
	transform: skew(0deg, 10deg);
	font-family: arial;
}

.topContainer h1 {
    color: rgb(58, 59, 59);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px; 
    padding-left: 10px;
    font-size: 60px;
}

.topContainer h2 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: 50x;
    text-transform: uppercase;
}

.topContainer p {
    color: rgb(87, 85, 85);
    font-family: Helvetica, Arial, sans-serif; 
}

.sec2 {
	padding: 0 200px 150px;
	color: #fff;
	font-family: arial;
	text-align: left;
}

.sec2 h1 {
    color: rgb(58, 59, 59);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 20px;
    font-size: 60px;
}

.sec2 h2 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: 50px;
    text-transform: uppercase;
}

.sec2 h3 {
    color: rgb(87, 85, 85);
    font-family: Helvetica, Arial, sans-serif;
}

.sec2 h4 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

.sec2 p {
    color: rgb(87, 85, 85);
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 10px;
}

.row {
    padding-bottom: 15px;
    padding-top: 5px;
} 

#cvSection {
    padding-top: 10px;
    background-color: rgb(202, 202, 202);
    margin-bottom: 30px;
} 


#contactSection {
    padding-top: 10px;
    margin-bottom: 0px;
} 
