@import "compass/css3";

$main-color: #00B285;

body{
  background: #222;
  color: #FFF;
}

.skewed-bg{
  background: $main-color;
  padding: 200px 0;
  @include transform(skew(0deg, -10deg));
  margin-top: -200px;  
  
    .content{
        @include transform(skew(0deg, 10deg));
        text-align: center;
        
        h1 {
            color: rgb(5, 150, 142);
            font-family: Helvetica, Arial, sans-serif;
            font-weight: normal;
            text-transform: uppercase;
            padding-top: 30px;
            padding-bottom: 30px; 
            padding-left: 20px;
            font-size: 60px;
        }

        h2 {
            color: black;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: normal;
            height: 50x;
            text-transform: uppercase;
        }

        h3 {
            color: rgb(87, 85, 85);
            font-family: Helvetica, Arial, sans-serif;
        }

        h4 {
            color: black;
            font-family: Helvetica, Arial, sans-serif;
        }

        p {
            color: rgb(87, 85, 85);
            font-family: Helvetica, Arial, sans-serif; 
        }

        .row {
            padding-bottom: 15px;
            padding-top: 5px;
        } 

        #cvSection {
            padding-top: 10px;
            background-color: rgb(202, 202, 202);
            margin-bottom: 30px;
        } 


        #contactSection {
            padding-top: 10px;
            background-color: rgb(202, 202, 202);
            margin-bottom: 30px;
        } 

    }
 }
